 
 <article class="card mb-2">
            <div class="card-body">
                <p>{{item.origin}}</p>
                <p>{{item.shortURL}}</p>
                <button class="btn btn-danger">Eliminar</button>
                <button class="btn btn-warning">Editar</button>
                <button class="btn btn-info">Copiar</button>
            </div>
    </article>